
/*
Smooth scroll using only css
*/

html {
    scroll-behavior: smooth;
}

/*
https://www.cssfontstack.com/Futura
*/


body {
    overflow-x: hidden;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

/*
NavBar Styling
*/

.navbar {
    background: rgba(0, 0, 0, 0.6)
}

/*
NavBar TRANSPARENT and scrolling
*/
.navbar-dark {
    background-color: transparent !important;
    transition: background-color 400ms linear;
}

.navbar-dark.scrolled {
    background-color: black !important;
    transition: background-color 400ms linear;
}


/*
NavBar img size
*/
.navbar-brand img {
    height: 2rem
}



/*
Document
*/

h1 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 24px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

h3 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

h4 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 12px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 
    
p { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 
    
.backg-image {
    

    background-image: url("../images/clouds.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;    

}



/*--- Fixed Video Background iOS/Mobile Style--*/
.video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
  }

  video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }

  /*
Video
*/

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0);

}

.video-banner{
    position: absolute;
    width: 75%;
    top: 40%;
    color: white; 
    left: 50%;
    margin-left: -37.5%;
}

.video-banner h1{
    font-size: 3rem;
    font-weight:700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
   
}
.video-banner h3{
    font-size: 1rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1rem;

}

.video-banner h4{
    font-size: 0.8rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 0.8rem;

}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
}

  /*
Drop down buttons
*/
#energy-toggle {
    cursor: pointer
}
#it-toggle {
    cursor: pointer
}
#energy-toggle-up {
    cursor: pointer
}
#it-toggle-up {
    cursor: pointer
}

  /*
Countdown Card
*/

#countdown-card {
    width: 25%;
    bottom:0.5rem;
    right:0.5rem;
    position: fixed;
    z-index:1;
}
.countdown-card-body {
    padding: 0.2rem;
    margin: 0.2rem;

}




  /*
MEDIA QUERIES
*/


@media (max-width: 992px){

    #cdc-header:{
        font-size: 0.8rem
    }
    .cdc-numbers {
        font-size: 0.8rem
    }

    .cdc-titles {
        font-size: 0.5rem
    }

}

@media (max-width: 768px) {

.video-banner h1{
    font-size: 1.4rem;
    letter-spacing: .1.5rem;
    padding-bottom: .5rem;
}
.video-banner h3{
    font-size: 0.8rem;
    padding-bottom: 1.2rem;

}

.btn-lg {
    font-size: 0.8rem;
    padding: .5rem 1rem;
}

#cdc-header:{
    font-size: 0.9rem
}

.cdc-titles {
    font-size: 0.1rem
}
.cdc-numbers {
    font-size: 0.9rem
}

};
